
<!-- <link href="admin/css/style.css" rel="stylesheet"> -->


<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="/index"><img src="../img/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="/userindex">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="/productdetail">Product Details</a></li>
                                <li><a href="/cart">Shop Cart</a></li>
                                <li><a href="/checkout">Checkout</a></li>
                                <li><a href="/blogdetails">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <div class="00000000303"><div class=".30
                            "></div></div>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        <a href="/">Login</a>
                        <a href="/userregister">Register</a>
                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        
                        <li><a href="#shopping-cart"><span class="icon_bag_alt"></span>
                            
                        </a></li>                        
                    </ul>
                    <a href="/login" style="margin-left: 20px;"><i class="fa fa-user-circle" style="color: black; font-size: 20px;"></i></a>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>