 <link rel="stylesheet" href="../adminformstyle.css">
<div class="container">
    <div class="login-container">
        <h1>Login</h1>
        <form action="/adlogin" method="post" class="form-login">
            <div class="textfield">
                
                <input type="text" name="username" placeholder="Enter username">
            </div>
            <div class="textfield">
                
                <input type="password" name="password" placeholder="Enter Password">
            </div>
            <button class="btn-login" type="submit">Login</button>
        </form>
<div>
