 <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by Vrunda Thummar </a> 2024</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->