<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />
  
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Pignose Calender -->
    <link href="./plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="./plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="./plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="admin/css/style.css" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <!-- <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div> -->
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Header start
        ***********************************-->

       <%-include('header')-%>

         <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
      <%-include('sidebar')-%>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="card gradient-1">
                            <a href="/category">
                                <div class="card-body d-flex justify-content-center">
                                    <!-- <h3 class="card-title text-white"></h3> -->
                                    <div class="d-inline-block ">
                                        <h3 class="text-white mb-3">Add Category</h3>
                                        <h5 class="text-white mb-0 text-center "><a href="/category" style="color: white;">Add</a></h5>
                                    </div>
                                    <!-- <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-sm-6">
                        <div class="card gradient-2">
                           <a href="/formvalidate">
                            <div class="card-body d-flex justify-content-center">
                                <!-- <h3 class="card-title text-white"></h3> -->
                                <div class="d-inline-block ">
                                    <h3 class="text-white mb-3">Add Data</h3>
                                    <h5 class="text-white mb-0 text-center "><a href="/formvalidate" style="color: white;">Add</a></h5>
                                </div>
                                <!-- <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span> -->
                            </div>
                           </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-4">
                            <a href="/viewcat">
                                <div class="card-body d-flex justify-content-center">
                                    <!-- <h3 class="card-title text-white"></h3> -->
                                    <div class="d-inline-block ">
                                        <h3 class="text-white mb-3">Category</h3>
                                        <h5 class="text-white mb-0 text-center "><a href="/viewcat" style="color: white;">View</a></h5>
                                    </div>
                                    <!-- <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-3">
                            <a href="/viewdata">
                                <div class="card-body d-flex justify-content-center">
                                    <!-- <h3 class="card-title text-white"></h3> -->
                                    <div class="d-inline-block ">
                                        <h3 class="text-white mb-3">Product Data</h3>
                                        <h5 class="text-white mb-0 text-center "><a href="/viewdata" style="color: white;">View</a></h5>
                                    </div>
                                    <!-- <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span> -->
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-7">
                            <a href="/viewcon">
                                <div class="card-body d-flex justify-content-center">
                                    <!-- <h3 class="card-title text-white"></h3> -->
                                    <div class="d-inline-block ">
                                        <h3 class="text-white mb-3">Contact</h3>
                                        <h5 class="text-white mb-0 text-center "><a href="/viewcon" style="color: white;">View</a></h5>
                                    </div>
                                    <!-- <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span> -->
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>         

       

                
                <h1 style="text-align: center;" class="mb-1 mt-4">All Clothes</h1> <br>
                <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/p0.webp" alt="" height="250px">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/p1.webp" alt="" height="250px">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/p2.webp" alt="" height="250px">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/p3.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/p4.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/c1.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/m2.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/b3.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/b5.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/m1.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/b4.webp" alt="" height="250px">
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="card">
                                <img src="../images/b2.webp" alt="" height="250px">
                            </div>
                        </div>
                    </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <%-include('footer')-%>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="./plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="./plugins/d3v3/index.js"></script>
    <script src="./plugins/topojson/topojson.min.js"></script>
    <script src="./plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="./plugins/raphael/raphael.min.js"></script>
    <script src="./plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="./plugins/moment/moment.min.js"></script>
    <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="./plugins/chartist/js/chartist.min.js"></script>
    <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="./js/dashboard/dashboard-1.js"></script>

</body>

</html>
