<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <!-- <li class="nav-label">Dashboard</li> -->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/main">Home</a></li>
                    <!-- <li><a href="./index-2">Home 2</a></li> -->
                </ul>
           
                
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-screen-tablet menu-icon"></i><span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/profile">Profile</a></li>
                    
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-note menu-icon"></i><span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/formvalidate">Form</a></li>
                </ul>
                <ul aria-expanded="false">
                    <li><a href="category">Category</a></li>
                </ul>
            </li>
            <!-- <li class="nav-label">Table</li> -->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/viewdata" aria-expanded="false">Show Details</a></li>
                </ul>
                <ul aria-expanded="false">
                    <li><a href="/viewcat" aria-expanded="false">Show Category</a></li>
                </ul>
                <ul aria-expanded="false">
                    <li><a href="/viewcon" aria-expanded="false">Show Contact</a></li>
                </ul>
            </li>
            <!-- <li class="nav-label">Pages</li> -->
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/login">Login</a></li>
                    <!-- <li><a href="/register">Register</a></li> -->
                </ul>
            </li>
        </ul>
    </div>
</div>