<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/"><i class="fa fa-dashboard fa-fw nav_icon"></i>Dashboard</a>
            </li>
    
                    <li>
                        <a href="/form">Form</a>
                    </li>
                    
                    <li>
                        <a href="/showdata">View Record</a>
                    </li>
               
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>